{% extends "layout.html" %} {% block content %} {% include 'navbar.html' %}

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-header mb-5">Update Profile</h1>

      <div class="card mb-4">
        <div class="card-body">
          <form method="POST" action="/member/updateProfile">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  value="{{member[1]}}"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value="{{member[2]}}"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="exercises">Exercises</label>
              <div id="exercises">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Cardio"
                  id="exercise1" name="exercises" {% if 'Cardio' in exercises
                  %}checked{% endif %} />
                  <label class="form-check-label" for="exercise1">Cardio</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  value="Pilates" id="exercise2" name="exercises" {% if
                  'Pilates' in exercises %}checked{% endif %} />
                  <label class="form-check-label" for="exercise2"
                    >Pilates</label
                  >
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  value="Weights" id="exercise3" name="exercises" {% if
                  'Weights' in exercises %}checked{% endif %} />
                  <label class="form-check-label" for="exercise3"
                    >Weights</label
                  >
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  value="Cross-fit" id="exercise4" id="exercise1"
                  name="exercises" {% if 'Cross-fit' in exercises %}checked{%
                  endif %} />
                  <label class="form-check-label" for="exercise4"
                    >Cross-fit</label
                  >
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Yoga"
                  id="exercise5" id="exercise5" name="exercises" {% if 'Yoga' in
                  exercises %}checked{% endif %} />
                  <label class="form-check-label" for="exercise5">Yoga</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="fitness_goal">Fitness Goal</label>
              <select
                class="form-control"
                id="fitness_goal"
                name="fitness_goal"
              >
                <option>Lose weight</option>
                <option>Gain muscle</option>
                <option>Improve stamina</option>
                <option>Increase flexibility</option>
                <option>Improve overall fitness</option>
              </select>
            </div>
            <div class="form-group">
              <label for="achievements">Achievements (comma-separated)</label>
              <input
                type="text"
                class="form-control"
                id="achievements"
                name="achievements"
                value="{{member[4]}}"
              />
            </div>
            <div class="form-group">
              <label for="weight">Weight (lbs)</label>
              <input
                type="number"
                class="form-control"
                id="weight"
                name="weight"
                required
                value="{{health_stats[0]}}"
              />
            </div>
            <div class="form-group">
              <label for="heart_rate">Heart Rate (bpm)</label>
              <input
                type="number"
                class="form-control"
                id="heart_rate"
                name="heart_rate"
                value="{{health_stats[1]}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="sleep">Avg. Nightly Sleep (hrs)</label>
              <input
                type="number"
                class="form-control"
                id="sleep"
                name="sleep"
                value="{{health_stats[2]}}"
                required
              />
            </div>
            <div class="form-group mt-5">
              <a href="/member/dashboard" class="btn btn-secondary">Go Back</a>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
