<!-- 
  This page allows a member to update their profile. The profile details are displayed in a form within a card. 
-->
{% extends "layout.html" %} {% block content %} {% include 'navbar.html' %}

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-header mb-5">Update Profile</h1>

      <div class="card mb-4">
        <div class="card-body">
          <!-- 
            The form starts here. It uses the POST method to send data and the action attribute specifies the endpoint ("/member/updateProfile") 
            where the form data will be sent when the form is submitted.
          -->
          <form method="POST" action="/member/updateProfile">
            <!-- 
              This is a form group for the heart rate. It has a label and an input field of type number. 
              The 'id' and 'name' attributes of the input field are set to "heart_rate". 
              The 'value' attribute is set to the second element of the 'health_stats' list (index 1). 
              The 'required' attribute is a boolean attribute indicating that the user must fill out this field before submitting the form.
            -->
            <div class="form-group">
              <label for="heart_rate">Heart Rate (bpm)</label>
              <input
                type="number"
                class="form-control"
                id="heart_rate"
                name="heart_rate"
                value="{{health_stats[1]}}"
                required
              />
            </div>

            <!-- 
              This is a form group for the average nightly sleep. It has a label and an input field of type number. 
              The 'id' and 'name' attributes of the input field are set to "sleep". 
              The 'value' attribute is set to the third element of the 'health_stats' list (index 2). 
              The 'required' attribute is a boolean attribute indicating that the user must fill out this field before submitting the form.
            -->
            <div class="form-group">
              <label for="sleep">Avg. Nightly Sleep (hrs)</label>
              <input
                type="number"
                class="form-control"
                id="sleep"
                name="sleep"
                value="{{health_stats[2]}}"
                required
              />
            </div>

            <!-- 
              This is a form group for the form actions. It contains two buttons: 
              - A link styled as a button that redirects to the "/member/dashboard" endpoint when clicked.
              - A submit button that submits the form data when clicked.
            -->
            <div class="form-group mt-5">
              <a href="/member/dashboard" class="btn btn-secondary">Go Back</a>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
