{% extends "layout.html" %} {% block content %} {% include 'navbar.html' %}

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-header mb-5">Member Schedule</h1>

      {% include 'alerts.html' %}

      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Current Sessions</h2>
          <ul class="list-group">
            {% for session in sessions %}
            <li class="list-group-item d-flex justify-content-between">
              {{ session.info }}
              <form method="POST" action="/member/cancelSession">
                <input
                  type="hidden"
                  name="session_id"
                  value="{{ session.id }}"
                />
                <button type="submit" class="btn btn-danger btn-sm">X</button>
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Book a Session</h2>
          {% if trainers and rooms %}
          <form method="POST" action="/member/bookSession">
            <div class="form-group">
              <label for="session_type">Session Type</label>
              <select
                class="form-control"
                id="session_type"
                name="session_type"
              >
                <option value="Group Fitness">
                  Group Fitness ($90 / session)
                </option>
                <option value="Personal Training">
                  Personal Training ($120 / session)
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="session_time">Session Time</label>
              <input
                type="datetime-local"
                class="form-control"
                id="session_time"
                name="session_time"
                required
              />
            </div>
            <div class="form-group">
              <label for="trainer_id">Available Trainers</label>
              <select
                class="form-control"
                id="trainer_id"
                name="trainer_id"
                required
              >
                {% for trainer in trainers %}
                <option value="{{ trainer[0] }}">{{ trainer[1] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="room_id">Available Rooms</label>
              <select class="form-control" id="room_id" name="room_id" required>
                {% for room in rooms %}
                <option value="{{ room[0] }}">{{ room[1] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group mt-5">
              <a href="/member/dashboard" class="btn btn-secondary">Go Back</a>
              <button
                type="submit"
                class="btn btn-primary"
                {%
                if
                not
                trainers
                or
                not
                rooms
                %}disabled{%
                endif
                %}
              >
                Book
              </button>
            </div>
          </form>
          {% else %}
          <p class="text-muted">No bookings available at this time.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
