<!-- 
  This block of code is responsible for displaying flash messages to the user. Flash messages are 
  a way to provide feedback to the user after they perform an action, like submitting a form. 
  The messages are stored until they are displayed to the user, and then they are removed.
-->

<!-- 
  Loop through the messages and display them in an alert box. The category of the message determines the color of the
  bootstrap alert box.
-->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} 
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %} 
    {% endif %} 
{% endwith %}
